extends layout

block content
  .container
    .jumbotron.myJ.text-center.contr
      span.element
      a(href="https://github.com/KhanFlex/Cranium", target="_blank")
        button.btn.btn-primary.star.noDisp 
          span.fa.fa-github.fa-3(style="font-size:30px;") 
          span(style='font-size: 18px;margin-left:8px;color:#fff;') Star the repository
