extends layout

block content
    div.container
      div.row
        div.col-md-12
          div.jumbotron.myJ
            h1 Cranium API
            p A Json API for cross platform developers 
      div.row
        div.col-md-4
          div.jumbotron.info
            h2 What
            p RESTFUL backend API 
            p Complete AMS, Elearning and Library data integration
            p Single authentication process
            p JSON data
        div.col-md-4
          div.jumbotron.info
            h2 How
            p Data mining powered by Node.js
            p A lot of coffee :)
            p Targeted http request analysis
            p Leveraging of the new ES2016 async implementations
        div.col-md-4
          div.jumbotron.info
            h2 Why
            p To service the Cranium desktop app and its derivatives
            p Create a platform for app developers to build on when creating Strathmore apps.
